<div class="page-box">
  <table cellpadding="0" cellspacing="0">
    <tr>
      {% for photos in photos %}
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
    </tr>
    <tr>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      </tr>
    <tr>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td> <td>
        <img
          src="{{ photos.file.url }}"
          style="
            width: 124.8px;
            height: 153.6px;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      </tr>
    {% endfor %}
  </table>
</div>

<style>

@page {
        size: A4;
        margin: 1mm 1mm 1mm 1mm;
    }
.page-box {
    width:21cm;
    margin: 0;


  }
  .page-box table {
    margin:0px;
    width: 100%;
    line-height: inherit;
    border: solid 3px #111;
  }
  .page-box table td {
    margin-top:0px;
    padding: 2px;
    border: solid 3px #111;
  }

</style>
