<div class="page-box">
  <table cellpadding="0" cellspacing="0">
    <tr>

      <td>
        <img
          src="{{ photos.file.url }}"
          style="
           width: 3.5cm;
            height: 4.5cm;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
           width: 3.5cm;
            height: 4.5cm;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
           width: 3.5cm;
            height: 4.5cm;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
           width: 3.5cm;
            height: 4.5cm;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
           width: 3.5cm;
            height: 4.5cm;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>
      <td>
        <img
          src="{{ photos.file.url }}"
          style="
           width: 3.5cm;
            height: 4.5cm;
            text-align: center;
            border:3px solid #111;
          "
        />
      </td>

    </tr>

  </table>
</div>

<style>

.page-box {
    width:21cm;
    margin: 0;


  }
  .page-box table {
    margin:0px;
    width: 100%;
    line-height: inherit;
    border: solid 3px #111;
  }
  .page-box table td {
    margin-top:0px;
    padding: 2px;
    border: solid 3px #111;
  }


</style>
