{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Passport Size Photo | Pass Photo{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    {% load static compress %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font/bootstrap-icons.css' %}"/>
    {% endcompress %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" />
    <link href="{% static 'vendor/bootstrap-5.0.2/css/bootstrap.min.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'vendor/bootstrap-5.0.2/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/sweetalert/sweetalert2.all.js' %}"></script>
  </head>
  <body>
    {% block header %}
    {% include 'includes/header.html' %}
    {% endblock %}
      {% block messages %}
      {% include 'includes/messages.html' with messages=messages %}
     {% endblock %}
      {% block content %}
      {% endblock %}
    {% block footer %}
    {% include 'includes/footer.html' %}
    {% endblock %}

    {% block javascript %}
 
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/cropper/js/cropper.min.js' %}"></script>
    <script>
      Cropper.noConflict();
      // Code that uses other `Cropper` can follow here.
    </script>
    <script type="text/javascript">
      {% comment %}  {% endcomment %}
      $(document).ready(function() {
        $(".mob-menu span").click(function(){
           $(".main-menu").slideToggle();
          });
       });

       
        </script>
    {% endblock %}
  </body>
</html>