{% extends 'layouts/base.html' %}
{% block content %}


<main>
<div class=" bg-light">

    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-4">
          <h1 class=" text-center">Passport Size Photo</h1>
          <img
          src="/static/images/slider.jpg"
          style="
           width: 100%;
            height: 500px;
            text-align: center;
            border:3px solid #111;
          "
        />
        </div>
        <div class="col-md-6 mb-4">
          <h1 class=" text-center">Remove Background</h1>
          <img
          src="/static/images/bgremove.jpg"
          style="
           width: 100%;
            height: 500px;
            text-align: center;
            border:3px solid #111;
          "
        />
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-8">
          <h1 class=" text-center">Demo</h1>
          <iframe width="100%" height="400"
         src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        </div>
        <div class="col-md-4">
          <h1 class=" text-center">Social Media</h1>
          <p class=" text-center">Support</p>
          <div class="social-bg">
            <div class="social-links pe-2 fab">
              <a href="">
                <i class="bi bi-facebook fab"></i>
              </a>
              <a href="">
                <i class="bi bi-instagram fab"></i>
              </a>
              <a href="">
                <i class="bi bi-twitter fab"></i>
              </a>
              <a href="">
                <i class="bi bi-youtube fab"></i>
              </a>

            </div>
          </div>
        </div>

      </div>
    </div>


</div>

</main>

{% endblock %}