{% extends 'layouts/_base_.html'%} {% block content %}
<div style="justify-content: center" class="container p-5">
  <h2><strong>Privacy Policy</strong></h2>

  <p>Welcome to PassPhoto!</p>

  <p>
    The safety of our customer’s personal data/information is the top priority to us. In the following paragraphs, we will explain to you about how we process your personal data and the Rights & Entitlements you have under our data protection regulations. We are always at your disposal for any complaints, questions or suggestions about data protection.
  </p>

  <p>
    By accessing this website we assume you accept these terms and conditions.
    Do not continue to use passphoto if you do not agree to take all of the terms
    and conditions stated on this page.
  </p>

  <p>
    The following terminology applies to these Terms and Conditions, Privacy
    Statement and Disclaimer Notice and all Agreements: "Client", "You" and
    "Your" refers to you, the person log on this website and compliant to the
    Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and
    "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the
    Client and ourselves. All terms refer to the offer, acceptance and
    consideration of payment necessary to undertake the process of our
    assistance to the Client in the most appropriate manner for the express
    purpose of meeting the Client’s needs in respect of provision of the
    Company’s stated services, in accordance with and subject to, prevailing law
    of India. Any use of the above terminology or other words in the
    singular, plural, capitalization and/or he/she or they, are taken as
    interchangeable and therefore as referring to same.
  </p>

  <h3><strong> Data privacy </strong></h3>
  <p>
    1.Data is controlled by PassPhoto with 3rd party cloud storage So Don't Forget to delete  your files after download becaouse we don't gurantee to save your data here.
  </p>

  <p>
    2.Data will be delete automatically after 1-24 hours.
  </p>

  <p>
    3.Don't Upload any type of secure private photos .
  </p>

  <p>
    4.Don't store any data here.
  </p>
  <p>
    5.Don't UPLOAD nude photos .Legal Actions will be taken .
  </p>
  <h3><strong> How do we use uploaded data (images, videos)?</strong></h3>
  <p> All uploaded images and videos are secure and will be dealt confidentially, data will be transferred with SSL/TLS- encrypted and only use them to perform requested image or video processing. A share or publish of information to any third parties are prohibited. Any uploaded images
     and videos, processed or non-processed will be deleted automatically. However, usage 
     statistics (without images) will be stored for customer relationship purpose only in
      case you need to speak to us.
  </p>
  <h3><strong> Server Logs:</h3></strong>
There's NO personal data required for the visit/browsing of our webpage and/or App. However, 
our web servers will only collect the data provided by your own browser. Thus include:

<p>IP address  </p>
<p>Date, time  </p>
<p>Request context  </p>
<p>User ID  </p>
<p>URL  </p>
<p>The amount of data resented to you
A message as to whether the request context was successful or failed
Identification data of the browser and operating system being used
Weblink from which the access was made
The legal basis for processing is based on our legitimate interest in ensuring system security, technical support and improvement of the service quality. These data may also be forwarded to the authorities should a hacking attack occurs. No other transmission to third parties takes place. All the server logs are stored for no longer than 3 months.
</p>
<h3><strong>Cookies</strong></h3>
  <p>
    Cookies are small text files that our webpage saves on your computer in order to make your visit more 
    efficient and allows to use some of the special features and functions. These may contain information
    about your use of website. Data/information contained in a cookie is used to store individual selections 
    or actions made by the users; therefore, they can be retrieved if users leave the page and revisit later,
    or refresh of the page. Some cookies are also used to create non-personalized statistics. Cookies are
    automatically accepted by most web browsers. You can prevent this by changing the default setting in 
    any of your web browser. You can also remove cookies stored on your personal computer/laptop, mobile 
    device at anytime by deleting the temporary internet files. We use the Google Analytics as our data
    providers to process data about user's use of our webpage in order to adapt it to our customer's best 
    interests in any possible way. 
    More information about Google Analytics can be found at (http://tools.google.com/com/dlpage/gaotou?hl=de)
  </p>

  <p>
    Most interactive websites use cookies to let us retrieve the user’s details
    for each visit. Cookies are used by our website to enable the functionality
    of certain areas to make it easier for people visiting our website. Some of
    our affiliate/advertising partners may also use cookies.
  </p>

  <h3><strong>Request to delete your account and data:</strong></h3>

  <p>
    please contact us at support@passphoto.in.
  </p>

  <h3><strong>More information</strong></h3>
  

  <p>
    You have every right to access your personal data and also have the option to withdraw it 
    at any time. We require the data that we ask you to provide in order to have access to our
     services within the contractual relationship, to provide you information that you requested
      from us and to send our newsletters. 
    If you refuse to provide the data we collect, we will not be able to perform our services.
  </p>

 
</div>
  {% endblock %}

